* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#sidebar {
    width: 100%;
    max-width: 20%;
    background-color: var(--crust);
    height: 100%;
    margin-top: 0%;
}
.user-container {
    background-color: var(--dark-blue);
    color: var(--text);
    height: 50px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.user-container img.avatar {
    height: 100%;
    border-radius: 50%;
    /*vertical-align: middle;*/
    position: relative;
}
.user-container span.username {
    color: var(--text);
    position: relative;
    left: 10px;
}